html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  padding: 0 !important;
}

.active h2, .active svg {
  color: #E23428 !important;
  font-weight: 600;
}

.active div {
  color: #E23428;
  display: block !important;
  width: 8px;
  background-color: currentcolor;
  height: 100%;
  border-radius: 0 6px 6px 0;
}

.sideBarAni {
  left: -18% !important;
}

.mainAni {
  padding-left: 0 !important;
}

.navBarAni {
  padding-left: 0 !important;
}

.openSideAni {
  transform: rotateZ(180deg) !important;
}